<?php $viewModel = $block->getData('view_model') ?>
<form action="<?= $viewModel->getActionUrl() ?>" method="POST">
    <label for="name">Your name</label>
    <input type="text" name="name"/>
    <label for="email">Your email</label>
    <input type="email" name="email"/>
    <input type="submit" value="Send form">
</form>