<h4 style="background-color: <?= $block->getData('background_color') ?>">
    <?= __('Welcome, all!') ?>
</h4>

<?php if (is_array($block->getData('product_types'))) : ?>
    <ul>
        <?php foreach ($block->getData('product_types') as $_data) : ?>
            <li>
                <?= $_data ?>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
